.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.heart {
  color: #ff0000;
}

.small {
  font-size: 0.75rem;
}

.board{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: center;
}
.game{
  max-width: calc(3*100px);
  padding: 20px;
  text-align: center;
  margin:  0 auto;
}
.cell{
  height: 50px;
  font-size: medium;
}